:root {
  --crack: 3px;
}

@font-face {
  font-family: 'DepartureMono';
  src: url('/assets/font/DepartureMono-Regular.otf');
}

* {
  overflow-x: hidden;
  border: none;
  box-sizing: content-box;
  font-family: DepartureMono;
  background-color: #1e1e2e;
  color: #cdd6f4;
  text-align: center;
}

a {
  color: #b4befe;
}

p, span {
  color: #cdd6f4;
}

.aaa {
  color: #74c7ec;
}

.aab {
  color: #f5c2e7;
}

.aac {
  color: #cdd6f4;
}

/* 88x31 buttons */
img[width="88"] {
  min-width: unset !important;
  width: 88px !important;
  image-rendering: auto;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.abuseipdb {
  min-width: unset !important;
  width: 250px !important; 
  background: #b4befe; 
  border-radius: 20px; 
  border-color: #1e1e2e;
}

.scramble {
  color: #cdd6f4;
  cursor: progress;
  user-select: none;
}

#rick {
  display: none;
}

.rick {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: #b4befe;
}

.la {
  text-decoration: none;
  text-decoration-color: #1e1e2e;
}

#confetti-canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  min-width: unset !important;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000;
}

.status {
  max-width: 750px !important;
  margin: auto;
}

#status_iframe {
  padding-left: 40px;
  width: 100%;
}